:root {
  --main-bg-color: #d6fff6;
  --secondary-bg-color: #231651;
  --main-color: #231651;
  --secondary-color: #4dccbd;
}

body {
  background-color: var(--main-bg-color);
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
}

.wrapper {
  width: calc(100% - 30px);
  margin-bottom: 50px;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

nav {
  background-color: var(--secondary-bg-color);
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.4rem;
}

nav a {
  color: var(--secondary-color);
  text-decoration: none;
}

[data-safearea="true"] nav {
  padding-bottom: env(safe-area-inset-bottom, 0px);
}

[data-safearea="true"] .wrapper {
  width: calc(100% - 30px - env(safe-area-inset-right));
}
